{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $featured_image := .Params.featured_image }}
{{ if $featured_image }}
<article class="mw8 mw8-ns center bg-near-white">
  <div class="flex flex-column flex-row-ns">
    <div class="pa2 pa0-ns pr3-ns mb2 mb0-ns w-100 w-30-ns">
      <img src="{{ .Params.featured_image }}" class="db" alt="Featured image of this post">
    </div>
    <div class="w-100 w-70-ns mw6-ns pl2 pl3-ns">
      <a class="no-underline black" href="{{ .URL }}">
        <h1 class="f3 fw7 Helvetica mb1 lh-title dark-blue">
        {{- .Title -}}
        </h1>
        <time class="f6 mv1 dib tracked Alegreya-sans" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "January 2, 2006" -}}
        </time>
        <p class="f6 lh-copy mv0 Alegreya-sans">By Aravindh Sampathkumar</p>
      </a>
    </div>
  </div>
</article>
{{ end }}
<main class="mw6 mw8-ns center bg-near-white">
  <div class="flex flex-column flex-row-ns">
    <div class="pa2 pa0-ns mt4-ns w-100 w-100-ns f5 f4-ns fw3 sysui lh-copy measure-wide center">
      {{- .Content -}}
    </div>
    <div class="w-100 w-30-ns pl1 pl4-ns mt4-ns">
      {{- partial "menu-contextual.html" . -}}
    </div>

</main>
{{ end }}